body {
	background-image: url("../images/crystalBackground.jpg");
	color: white;
	font-family: 'Berkshire Swash', cursive;
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
	}

.text-background {
	
	background-color: black;
	width: 33.33%;
	margin-left: 33.33%;
	margin-top: 20px;
	padding: 20px;
	border-style: ridge;
    border-width: 5px;
    box-shadow: 12px 12px 12px black;
}

#wrapper {
	background-color: black;
	text-align: center;
	width: 99.5%;
	border-style: ridge;
    border-width: 5px;
    box-shadow: 12px 12px 12px black;
}

#scorebox {
	text-align: center;
	background-color: black;
	position: absolute;
	margin-left: 77%;
	overflow: auto;
	margin-right: 10%;
	border-style: ridge;
    border-width: 5px;
    box-shadow: 12px 12px 12px black;
}


#current-number-section {
	clear: both;
	float: left;
	background-color: black;
	overflow: auto;
	margin-left: 15%;
	border-style: ridge;
    border-width: 5px;
    box-shadow: 12px 12px 12px black;
}

.section-title {
	padding-left: 50px;
	padding-right: 50px;
	
	
}

#win-count {
	
	text-align: center;
}

#loss-count {
	
	padding-bottom: 50px;
	padding-top: 10px;
	text-align: center;
}

#total-score-section {
	clear: both;
	float: left;
	background-color: black;
	overflow: auto;
	margin-left: 15%;
	margin-top: 10px;
	border-style: ridge;
    border-width: 5px;
    padding-left: 46px;
    padding-right: 46px;
    padding-top: 10px;
    padding-bottom: 20px;
	box-shadow: 12px 12px 12px black;
}

#current-number-section {
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 20px;
}

#your-score {
	text-align: center;
}

#crystal-section {
	clear: both;
	background color: black;
	position: absolute;
	right: 36%;
	margin-top: 20px;
	padding-top: 20px;
	box-shadow: 12px 12px 12px black;

}

#purple {
	box-shadow: 12px 12px 12px black;
}
#blue {
	box-shadow: 12px 12px 12px black;
}
#green {
	box-shadow: 12px 12px 12px black;
}


@media screen and (max-width: 400px) {
	#crystal-section {
		margin-left: 75%;
	}
